  <!--================ Start footer Area  =================-->	
<footer class="site-footer">
	<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-5">
				<h2 class="footer-heading mb-4">Giới Thiệu</h2>
				<p>Tạo ra những giải pháp tối ưu đem lại giá trị cao nhất cho khách hàng và nhà đầu tư, đóng góp tích cực cho sự phát triển chung của cộng đồng và xã hội  thông qua việc xây dựng đội ngũ cán bộ, nhân viên tâm huyết, am hiểu nhu cầu của khách hàng.</p>
				</div>
				<div class="col-md-3 ml-auto">
					<h2 class="footer-heading mb-4">Đường dẫn nhanh</h2>
					<ul class="list-unstyled">
						<li><a href="#about-section" class="smoothscroll">Giới thiệu</a></li>
						<li><a href="#next" class="smoothscroll">Dịch vụ</a></li>
						<li><a href="#services-section" class="smoothscroll">Công cụ & tiện ích</a></li>
					</ul>
				</div>
				<div class="col-md-4">
				<h2 class="footer-heading mb-4">Đăng ký nhận bản tin</h2>
				<form action="/newsletter" method="post" class="footer-subscribe">
					<div class="input-group mb-3">
					<input type="email" required name="email" id="email" class="form-control border-secondary text-white bg-transparent" placeholder="Nhập Email" aria-label="Enter Email" aria-describedby="button-addon2">
					<div class="input-group-append">
						<button class="btn btn-primary text-black" type="submit" id="button-addon2">Gửi</button>
					</div>
					</div>
				</form>
				</div>
			</div>
		</div>
	</div>
	<div class="row pt-5 mt-5 text-center">
		<div class="col-md-12">
		<div class="border-top pt-5">
			<p class="copyright"><small>
			<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
		&copy;<script>document.write(new Date().getFullYear());</script> Ngân hàng trực tuyến - Uy tính hàng đầu <i class="icon-heart text-danger" aria-hidden="true"></i>
		</small></p>
		</div>
		</div>
	</div>
	</div>
</footer>

	<!--================ End footer Area  =================-->
