{{>header}}
 <div class="header bg-gradient-primary py-5 py-lg-5 pt-lg-8">
    <div class="container">
      <div class="header-body text-center mb-5">
        <div class="row justify-content-center">
          <div class="col-xl-3 col-lg-4 col-md-6 px-3">
            <h1 class="text-white">Đổi mật khẩu</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
</div>
<br>
<div  class="row">
    <div class="col-4">
    </div>
    <div class="col-lg-4">
    <div class="login_form_inner register_form_inner">
        {{#if message2}}
        <h2 class="text-info">{{message2}}</h2>
        {{else}}        
        <form class="row login_form" method="POST" action="/users/changepassword" id="register_form">
            {{#if message}}
            <div class="col-md-12 form-group alert {{type}}">
                <strong>{{message}}</strong>
            </div>
            {{/if}}
            <div class="col-md-12 form-group">
                <input type="password" class="form-control" id="oldpassword" name="oldpassword" placeholder="Mật khẩu cũ"
                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mật khẩu cũ'">
            </div>
            <div class="col-md-12 form-group">
                <input type="password" class="form-control" id="newpassword" name="newpassword" placeholder="Mật khẩu mới"
                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mật khẩu mới'">
            </div>
            <div class="col-md-12 form-group">
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                    placeholder="Xác nhận lại mật khẩu" onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Xác nhận lại mật khẩu'">
            </div>
            <div class="col-md-12 form-group">
                <button type="submit" value="submit" class="button button-register">Đổi mật khẩu</button>
            </div>
            <div class="col-md-12 form-group">
              <a href="/" class="btn btn-primary">Trở Về</a>     
            </div>
        </form>
        {{/if}}
    </div>
</div>
</div>
{{> footer }}
