<div class="wrapper">
  <p style="margin-bottom:500px; color:black" >We've got Email! <br>
  We have sent an Email to <span style="color: blue;"> <strong >{{email}}</strong></span>  with a account number to {{title}}.<br> Please check your Email! If you checked, please click <a href="/login">Login</a>
  </p>
</div>  