<!--================Login Box Area =================-->
{{> header}}
 <div class="inner-banner-w3ls py-5" id="home">
    <div class="container py-xl-5 py-lg-3">
        <div class=" w3l-login-form">
            <h2>Quên mật khẩu</h2>
             <form action="/users/forgotPassword"  method="POST">
                {{#if message}}
                    <div class="form-group alert {{type}}">
                        <strong>{{message}}</strong>
                    </div>
                {{/if}}
                <div class=" w3l-form-group">
                    <label>Nhập email</label>
                    <div class="group">
                        <i class="fas fa-user"></i>
                        <input type="email" class="form-control" id="email" name="email"  placeholder="Nhập Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email">
                    </div>
                </div>               
                <button type="submit" value="submit">Submit</button>
            </form>
            
        </div>
    </div>
</div>

{{> footer }}
<!--================End Login Box Area =================-->