
<hr />
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <h2 class="text-info">
            Nhập số tiền muốn nạp...
        </h2>
        <hr>
        <form action="/pay" method="POST">
        <input type="number" id="money" name="money">
        <button type="submit" class="btn btn-success">Nạp tiền</button>
        </form>
    </div>
    
</div>
<hr>