<!--================Login Box Area =================-->
 <div class="inner-banner-w3ls py-5" id="home">
    <div class="container py-xl-5 py-lg-3">
        <div class=" w3l-login-form">
            <h2>Reset Your Password</h2>
             <form action="/users/resetPassword/:token"  method="POST">
                {{#if message}}
                    <div class="form-group alert {{type}}">
                        <strong>{{message}}</strong>
                    </div>
                {{/if}}
                <div class=" w3l-form-group">
                    <label>New password</label>
                    <div class="group">
                        <i class="fas fa-user"></i>
                        <input type="password" class="form-control" id="newPassword" name="newPassword"  placeholder="New Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'New Password'">
                    </div>
                </div>
                <div class=" w3l-form-group">
                    <label>Password Confirm</label>
                    <div class="group">
                        <i class="fas fa-unlock"></i>
                        <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" placeholder="Password Confirm" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password Confirm'" >
                    </div>
                </div>
              
                <button type="submit" value="submit">Submit</button>
            </form>
            
        </div>
    </div>
</div>

<!--================End Login Box Area =================-->